header>img {
    padding: 0;
    margin: 0;
}

.imagem img {
    object-fit: cover;
    height: 400px;
}

.card img {
    object-fit: cover;
    height: 200px;
}

.titulo {
    height: 50px;
    background-color: #54775e;
}
.titulo h5 {
    margin: 0;
    padding: 0;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-produto {
    display: flex;
	justify-content: space-between;
}

.btn-produto .btn, .btn-group .btn {
    background-color: #54775e;
}

.btn-produto>a {
    align-self: center;
    color: black;
}

.btn-produto>a:hover {
    color: #8fccb8;
}

button a:hover {
    text-decoration: none;
}

.btn-produto .btn-link:hover {
    text-decoration: none;
}

#checkout-form-preenchido, #checkout-form-novo {
    display:none;
}

/* header responsivo */

@media (max-width: 751px) {
    nav {
        margin-bottom: 0;
    }

    nav>ul {
		flex-direction: column;
		height: 0;
		overflow: hidden;
	}
	
	nav>ul>li>a {
		width: 100%;
		text-align: center;
	}

	nav>button {
		display: block;
        width: 100%;
        padding: 20px;
		border: none;
		background-color: transparent;
		outline: none;
        cursor: pointer;
	}
}

@media (max-width: 570px) {
    header>.navbar {
        flex-direction: column;
    }

    header>.navbar>form {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 15px;
    }
    
}