* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* header */

.top-menu {
    background-color: white;
}

.top-menu>ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.top-menu>ul>li>a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 12px;
}

.navbar {
    padding: 0;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none;
}

.form-control:focus {
    border: 1px solid #ced4da;
}

header>.navbar>form>.btn {
    border: none;
    background: white;
}

nav button {
    display: none;
}

.nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.dropdown-item:active {
    background-color: transparent;
}

/* card de produto */

.btn-produto {
    display: flex;
	justify-content: space-between;
}

.btn-produto .btn {
    background-color: #54775e;
}

.btn-produto>a {
    align-self: center;
    color: black;
}

.btn-produto>a:hover {
    color: #8fccb8;
}

/* footer */

footer{
	height: 250px;
	background-color: #54775e;
	color:#FFF;
	margin-top: auto;
}

footer>div {
    display: flex;
    justify-content: space-between;
}

footer>div>.bottom-menu {
    padding: 0;
    margin: 0;
    display: block;
}

footer>div>.bottom-menu>li>a {
    text-decoration: none;
    color: white;
}

footer>img {
    width: 100px;
    display: flex;
    justify-content: flex-start;
}

footer hr {
    width: 1200px;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

footer>div>ul>li>a {
    text-decoration: none;
    padding: 5px;
}


#adicionar {
    margin-left: 95px;
    margin-top: 20px;
    width: 30%;
}
